*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}

h1{
    color: #1d9602;
    text-align: center;
    padding: 25px;
    font-size: 50px;
}

h2{
    color: #DC965A;
    font-size: 40px;
    padding: 50px;
    text-align: center;
}

h3{
    color: #DC965A;
    font-size: 30px;
    border: 2px solid transparent;
    text-align: center;
    padding: 25px;
}

h3:hover{
    color: #8d68b5;
}

#cabecera{
    background-color: #8d68b5;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#cabecera div{
    display: flex;
    align-items: center;
}

#cabecera div h1{
    margin-left: 25px;
}

nav{
    display: grid;
    width: 100%;
    padding-right: 80px;
    font-size: larger;
    background-color: #8d68b5;
    grid-template-columns: auto(3, 1fr);
}

nav a{
    text-decoration: none;
    color: #DC965A;
    align-items: start;
}

nav ul{
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li{
    margin: 15px;
}

nav ul li a:hover{
    color: #8d68b5;
}

main{
    background-color: #3d1466;
}

.fixed{
    position: fixed;
    right: 50px;
    bottom: 100px;
    display: inline;
}

.nosotros p{
    font-size: 30px;
    text-align: center;
}

.nosotros img{
    height: 500px;
    width: 500px;
    margin-left: 675px;
}

section form div{
    border: 2px solid black;
    width: fit-content;
    height: 25px;
}

#pie{
    background-color: #8d68b5;
    text-align: center;
}

#pie div a{
    color: #DC965A;
    text-decoration: none;
}

#pie div ol li{
    display: inline-flex;
}

.primeraorden{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
}

.primeraorden div{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primeraorden div img{
    height: 250px;
    width: 250px;
    text-align: center;
}

.trabajos div{
    display: flex;
    justify-content: center;
    border: 4px transparent solid;
    flex-wrap: wrap;
}

.trabajos div img{
    height: 250px;
    width: 250px;
    padding: 1px;
}

.pixelart div{
    display: flex;
    justify-content: center;
    border: 4px transparent solid;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pixelart div img{
    height: 250px;
    width: 250px;
    margin: 5px;
}

.retratos div{
    display: flex;
    justify-content: center;
    border: 4px transparent solid;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.retratos div img{
    height: 250px;
    width: 250px;
    margin: 5px;
}

.stickers div{
    display: flex;
    justify-content: center;
    border: 4px transparent solid;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stickers div img{
    height: 250px;
    width: 250px;
    margin: 5px;
}

.encuesta div{
    display: flex;
}

@media screen and (max-width:1300px){
    #cabecera div{
        width: 100%;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:1000px){
    #cabecera div h1{
        font-size: x-large;
    }
}

@media screen and (max-width:1300px){
    .primeraorden{
        width: 100%;
        margin: 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:1000px){
    .primeraorden{
        width: 100%;
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:800px){
    .primeraorden{
        width: 100%;
        margin: 0%;
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media screen and (max-width:650px){
    nav ul{
        display: grid;
        width: 100%;
        font-size: smaller;
        background-color: #8d68b5;
        grid-template-columns: repeat(3, 1fr);
    }
}